/* Локальные шрифты для Clean Blog Theme */

/* Lora - нормальный */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/lora-regular.woff2') format('woff2');
}

/* Lora - жирный */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/lora-bold.woff2') format('woff2');
}

/* Lora - курсив */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/lora-italic.woff2') format('woff2');
}

/* Lora - жирный курсив */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/lora-bold-italic.woff2') format('woff2');
}

/* Open Sans - светлый */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/opensans-light.woff2') format('woff2');
}

/* Open Sans - нормальный */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/opensans-regular.woff2') format('woff2');
}

/* Open Sans - полужирный */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/opensans-semibold.woff2') format('woff2');
}

/* Open Sans - жирный */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/opensans-bold.woff2') format('woff2');
}

/* Open Sans - сверхжирный */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/opensans-extrabold.woff2') format('woff2');
}

/* Open Sans - светлый курсив */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/opensans-light-italic.woff2') format('woff2');
}
