// Переменные темы
$primary: #0085A1;
$gray-900: #212529;
$white: #fff;

// Импорт локального Bootstrap
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";
@import "bootstrap/print";

// Стили Clean Blog
body {
  font-size: 20px;
  color: $gray-900;
  font-family: 'Lora', 'Times New Roman', serif;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
    text-decoration: none;
  }
}

blockquote {
  font-style: italic;
  color: $gray-600;
  border-left: 4px solid $primary;
  padding-left: 20px;
  margin: 30px 0;
}

// Навигация
.navbar {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-brand {
  font-weight: 800;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
}

// Шапка
.masthead {
  position: relative;
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: $gray-600;
  background-attachment: scroll;
  background-size: cover;
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $gray-900;
    opacity: 0.5;
  }
  
  .page-heading,
  .post-heading,
  .site-heading {
    padding: 150px 0;
    color: white;
    text-align: center;
    
    h1 {
      font-size: 50px;
      margin-top: 0;
    }
    
    .subheading {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0;
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }
  
  .post-heading {
    h1 {
      font-size: 35px;
    }
    
    .meta {
      font-style: italic;
      font-weight: 300;
      font-size: 20px;
      a {
        color: white;
      }
    }
  }
}

// Посты
.post-preview {
  > a {
    color: $gray-900;
    
    &:hover {
      text-decoration: none;
      color: $primary;
    }
    
    &:focus {
      text-decoration: none;
    }
  }
  
  .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .post-subtitle {
    font-weight: 300;
    margin: 0 0 10px;
    color: $gray-600;
  }
  
  .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: $gray-600;
    
    a {
      color: $gray-900;
      text-decoration: none;
      
      &:hover {
        color: $primary;
        text-decoration: underline;
      }
    }
  }
}

// Футер
footer {
  padding: 50px 0 65px;
  
  .list-inline {
    margin: 0;
    padding: 0;
  }
  
  .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
  }
}

// Адаптивность
@media (max-width: 768px) {
  .masthead {
    .page-heading,
    .post-heading,
    .site-heading {
      padding: 100px 0;
      
      h1 {
        font-size: 40px;
      }
    }
    
    .post-heading {
      h1 {
        font-size: 30px;
      }
    }
  }
  
  .post-preview {
    .post-title {
      font-size: 24px;
    }
  }
}
