---
layout: default
---

<!-- Page Header -->
{% if page.image %}
<header class="masthead" style="background-image: url('{{ page.image | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
            <h2 class="subheading">{{ page.description }}</h2>
            {% endif %}
            <span class="meta">Автор 
              <a href="#">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a>
              {{ page.date | date: '%d.%m.%Y' }} &middot; {% include read_time.html
              content=page.content %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}
        {% include telegram.html %}
        <hr>

        <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">Предыдущая<span class="d-none d-md-inline">
              статья</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Следущая<span class="d-none d-md-inline">
              статья</span></a>
          {% endif %}

        </div>

        {% assign maxRelated = 5 %}
        {% assign minCommonTags = 2 %}
        {% assign relatedCount = 0 %}

        <!-- Сначала считаем количество связанных статей -->
        {% for post in site.posts %}
            {% assign sameTagCount = 0 %}
            
            {% for tag in post.tags %}
                {% if post.url != page.url and page.tags contains tag %}
                    {% assign sameTagCount = sameTagCount | plus: 1 %}
                {% endif %}
            {% endfor %}
            
            {% if sameTagCount >= minCommonTags %}
                {% assign relatedCount = relatedCount | plus: 1 %}
            {% endif %}
        {% endfor %}

        <!-- Показываем блок только если есть связанные статьи -->
        {% if relatedCount > 0 %}
            <hr>
            <h2>Вам также может быть интересно:</h2>
            <ul>
                {% assign displayCount = 0 %}
                {% for post in site.posts %}
                    {% assign sameTagCount = 0 %}
                    
                    {% for tag in post.tags %}
                        {% if post.url != page.url and page.tags contains tag %}
                            {% assign sameTagCount = sameTagCount | plus: 1 %}
                        {% endif %}
                    {% endfor %}
                    
                    {% if sameTagCount >= minCommonTags and displayCount < maxRelated %}
                        <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
                        {% assign displayCount = displayCount | plus: 1 %}
                    {% endif %}
                    
                    {% if displayCount >= maxRelated %}
                        {% break %}
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>
